@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
* {
    box-sizing: border-box;
    background-color: #223;
    margin: 0;
    color: white;
}

/* Header */
header {
    font-family: 'Lacquer', monospace;
    text-align: center;
    line-height: 20px;
    background-color: white;
    color: black;
    font-size: 30px;
    line-height: 50px;
}

/* Score table */
.supscore {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.score-box {
    text-align: center;
    border: 2px solid;
    width: 20%;
    margin: 10px auto;
    border-radius: 4px;
    padding: 10px 10px;
    position: relative;
    font-size: 25px;
}

.user {
    background-color: #e66;
    position: absolute;
    top: 12px;
    left: -23px;
    padding: 0 3px;
    line-height: 21px;
    font-family: monospace;
    font-size: 15px;
}

.comp {
    background-color: #e66;
    position: absolute;
    top: 12px;
    right: -21px;
    padding: 0 3px;
    line-height: 21px;
    font-family: monospace;
    font-size: 15px;
}

/* Result */
.result {
    text-align: center;
    font-family: 'Lacquer', monospace;
}

/* Choice */
.choice {
    margin: 25px auto 10px;
    text-align: center;
}

.ro-pa-sc {
    margin: 8px;
    border: 3px solid white;
    padding: 20px;
    border-radius: 50%;
    transition: all .2s linear;
}

.red-glow {
    border: 3px solid red;
    border-radius: 50%;
}

.green-glow {
    border: 3px solid green;
    border-radius: 50%;
}

.gray-glow {
    border: 3px solid gray;
    border-radius: 50%;
}

/* Action */
.make-action {
    text-align: center;
    font-family: 'Lacquer', monospace;
}